# Frontend
node_modules/
dist/
.pnpm-store/
test-results/
playwright-report/

# Backend
src-tauri/target/
src-tauri/gen/schemas/

# IDE
.idea/
*.swp
*.swo
*~
.kiro
.vscode

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.wiki/
